.body1 {
    /* background-color: rgb(215, 215, 214); */
}

#img-hidri {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(110, 147, 55);
}

#img-hidri1 {
    border-radius: 20%;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(110, 147, 55);
}

div.detail {
    margin-left: auto;
    margin-right: auto;
}

.col-md-3 {
    border-radius: 50%;
}

.col-md-3 {
    text-decoration: none;
}

.col-md-1 a {
    text-decoration: none;
}

.hidri-text {
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* background-color: rgb(190, 207, 207); */
    text-align: center;
}

h1 {

    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    color: rgb(110, 147, 55);
    text-decoration: none;
}

h3 a {
    color: rgb(110, 147, 55);
    text-shadow: 4px 4px 4px #aaa;

    text-decoration: none;
}

h5 {
    color: whitesmoke;
}

.aboutme-details {
    color: whitesmoke;
}

.about {
    color: yellow;
}

.course-details {
    color: whitesmoke;
}

#movielink {
    color: red;
}

.movie-details {
    color: whitesmoke;
}

.facts-details {
    color: whitesmoke;
}

.mood-text {
    color: whitesmoke;
}

/* about - lab-2 -----------*/

/* recipe*/


h2 {
    text-decoration: underline;
    color: rgb(110, 147, 55);
    /* background-color: rgb(215, 215, 214); */
}

.user-text {
    font-style: italic;

}

#underline-text {
    text-decoration: cadetblue;
}

h6 {
    text-decoration: double;
    text-decoration-color: black;
}

#underline-list {
    text-decoration: double;
}

#link {
    color: rgb(110, 147, 55);
}

.user1,
.user2,
.user3 {
    background-color: rgb(255, 255, 67);
    margin: 30px;
}

#footer-text {
    margin: 30px;
}

#footer-text2 {
    margin: 40px;
}

/*------form_------*/
.navbar-brand {
    color: aqua;
    text-decoration: dotted;
}

button.btn btn-light {
    border-color: red;
}

#nav-main {

    background: rgb(110, 147, 55);

}